.jb_image img {
  height: 300px;
  margin: 20px;
}

@media screen and (max-width: 992px) {
  .jb_image {
    padding: 20px;
  }

  .jb_image img {
    width: 400px;
    height: auto;
  }

  .video_row {
    display: flex;
    flex-direction: column-reverse;
  }

  .jb_locations {
    padding-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .jb_image {
    padding: 10px 0;
  }

  .jb_image img {
    width: 350px;
    height: auto;
  }
}
