.footer_container {
  color: white;
  background-color: black;
  padding: 25px;
  margin-top: 30px;
}

.footer_container i {
  font-size: 2rem;
}

.social_icons {
  display: flex;
  justify-content: space-around;
}

.footer_right {
  text-align: right;
}

.footer_right a {
  color: white;
}

@media screen and (max-width: 992px) {
  .footer_item {
    text-align: center;
    margin: 10px 0;
  }
}
